<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat:ital,wght@1,200&family=Sacramento&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0ef70cf4f5.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="top-container">
        <img class="logo" src="logo-modified.png" alt="logo">

        <a></a>
        <a class="home" href="home.html">Home</a>
        <a class="create"  href="create.html">Create Blog</a>
        <a class="search" href="search.html">Search</a>
        <a class="profile"  href="profile.html">Profile</a>
    </div>

    <div class="middle-container1">
        <h1>Creator <i class="fas fa-pen"></i>: Aneesh Shamraj</h1>
        <h2>Blog Body</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora nisi accusantium sequi consectetur aliquid omnis ea nihil temporibus quidem excepturi? Vero quidem reprehenderit, velit similique reiciendis quo consectetur repellendus illo!</p>
        <h3><i class="far fa-heart fa-2x"></i>   <i class="far fa-comment fa-2x"></i></h3>
    </div>

    <div class="middle-container2">
        <h1>Creator <i class="fas fa-pen"></i>: Bhoomi Shetty</h1>
        <h2>Blog Body</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quidem fugit ea, cupiditate itaque nobis odio nemo sint rerum. Dolorum neque repellendus tempora, dolores itaque natus debitis adipisci minima exercitationem!</p>
        <h3><i class="far fa-heart fa-2x"></i>   <i class="far fa-comment fa-2x"></i></h3>
    </div>

    <div class="middle-container3">
        <h1>Creator <i class="fas fa-pen"></i>: Hritik Sharma</h1>
        <h2>Blog Body</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sunt, esse possimus porro voluptate nihil aperiam quibusdam ipsum repudiandae, ut modi harum rerum adipisci, obcaecati ea rem repellat vitae doloremque.</p>
        <h3><i class="far fa-heart fa-2x"></i>   <i class="far fa-comment fa-2x"></i></h3>
    </div>

    <div class="bottom-container">


    </div>

</body>
</html>