<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat:ital,wght@1,200&family=Sacramento&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0ef70cf4f5.js" crossorigin="anonymous"></script>

</head>
<body>
    

    <a class="icon fas fa-user-circle fa-9x"></a> 
    <a></a>
    <a class="change" href="change.html">Change Profile</a>      
    <a class="user" href="user.html"><i class="fas fa-info-circle fa-4x">User Details </i> </a>
    <a class="submit" href="submit.html">Submit</a>
    <a class="blog" href="blog.html"> <i class="fas fa-blog fa-4x"> Create Blog</i></a>
    <a class="proceed" href="proceed.html">Proceed</a>
    <a class="logout" href="logout.html">Log out</a>

    
</body>
</html>